a:hover{
	color:purple;
}

.Follow{
	max-width: 500px;

}

.card{
	margin: 5rem;
	display: flex;
	flex-direction: column;
	min-height: 400px;
	width: 400px;
	background-color: lightgreen;
	border-radius: 1rem;
	padding: 1rem;
}

h2{
	width: 250px;
	word-wrap: break-word;
}

.bunb{
	display: flex;
	flex-direction: row;
}

.b{
	background-color: lightcyan;
	min-height: 100vh;
	widtha:hover{
	color:purple;
}

.Follow{
	max-width: 500px;

}

.card{
	margin: 5rem;
	display: flex;
	flex-direction: column;
	min-height: 400px;
	width: 400px;
	background-color: lightgreen;
	border-radius: 1rem;
	padding: 1rem;
}

h2{
	width: 250px;
	word-wrap: break-word;
}

.bunb{
	display: flex;
	flex-direction: row;
}

.b{
	background-color: lightcyan;
	min-height: 100vh;
	width: 50%;
}

.unb{
	background-color: lightcoral;
	min-height: 100vh;
	width: 50%;
}

.usercard{
	display: flex;
	flex-direction: row;
	background-color: lightgreen;
	max-width: 400px;
	margin: auto;
	border-radius: 1rem;
	padding: 5px;
	margin-top: 10px;
	justify-content: space-between;
}

.requests{
	display: flex;
	margin: auto;
	max-width: 700px;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.requestCard{
	display: flex;
	position: static;
	/* min-width: 600px; */
	max-width: 700px;
	justify-content: space-between;
	min-height: 70px;
	align-content: center;
	border-radius: 1rem;
	/* margin-left: 15%;
	margin-right: 15%; */
	/* margin: auto; */
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: lightgreen;
}

.btn{
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.req-name{
	display: flex;
	margin-left: 10px;
}

.top-bottom{
	padding: 10px;
}

.report-card{
	padding: 3rem;
	display: flex;
	flex-direction: column;
	max-width: 900px;
	min-width: 500px;
	background-color: lightgreen;
	min-height: 50vh;
	border-radius: 1rem;
	margin:auto;
	margin-top:3rem;
	margin-bottom:3rem;
}

.btn-flex{
	margin-top: 2rem;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

textarea{
	font-family: 'Roboto', sans-serif;
	min-height: 150px;
	border-radius: 1rem;
	border: 2px solid lightblue;
	background-color: aliceblue;
	resize: none;
	padding: 1rem;
	font-size: 15px;
}


#textconcern{
	min-height: 30px;
}

#chotte-textarea{
	display: inline-block;
	min-height: 30px;
	max-width: 500px;
}

.search{
	height: 100px;
	/* min-width: 500px; */
	display: flex;
	align-items: center;
	margin: auto;
	margin-top: 10px;
	max-width: 500px;
}

input{
	/* display: inline-block; */
	height: 50px;
	/* margin-left: 30%; */
	/* margin-right: 20%; */
	border: none;
	background-color: skyblue;
	box-sizing: border-box;
	min-width: 500px;
	max-width: 700px;
	margin: auto;
	/* margin-top: 20px; */
	/* height: 50px; */
	padding: 2rem;
	font-size: 20px;
	border-radius: 2rem;
}

.tags{
	margin: 5px;
	cursor: pointer;
	padding: 5px;
	border-radius: 1rem;
	display: flex;
	background-color: aliceblue;
}

.searchbytags{
	background-color: khaki;
	position: absolute;
	min-width: 200px;
	top: 200px;
	right: 25%; 
	border-radius: 1rem;
	max-height: 500px;
	overflow: scroll;
}

.sort{
	background-color: khaki;
	position: absolute;
	min-width: 200px;
	top: 200px;
	border-radius: 1rem;
	max-height: 500px;
	overflow: scroll;
	/* right: 45%; */
	left: 25%;
}

.searchbytags::-webkit-scrollbar {
	display: none;
  }


.sort::-webkit-scrollbar {
	display: none;
  }

  .card-personal{
	max-width: 30vh;
  }

  .post-page{
	position: relative;
	display: flex;
	width: 600px;
	height: 200px;
	/* max-width: 700px; */
	background-color: khaki;
	border-radius: 1rem;
	/* align-self: center; */
  }

  .post-contain{
	position: absolute;
	width: 65vw	;
	height: 50vh;
	margin-top: 60px;
	/* background-color: aqua; */
	display: flex;
	align-content: center;
	/* justify-content: center; */
	flex-direction: column;
	left: 33vw;  
	/* justify-content: center; */
	/* align-content: center; */
}

.postcard{
	margin-left: 20%;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	max-width: 700px;
	min-width: 500px;
	min-height: 325px;
	border-radius: 2rem;
	background-color: khaki;
	/* align-content: center; */
	/* justify-content: center; */
}

.text-post{
	display: block;
	width: 600px;
	margin: auto;
	margin-top: 0;
	/* margin-left: 15%; */
	/* margin-right: 15%; */
}

.comment{
	width: 600px;
	min-height: 50px;
	background-color: lightpink;
	border-radius: 2rem;
	margin: 5px;
}